/* Start Nav */
header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: bolder;
  color: black;
}

header nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: rgb(253, 185, 51);
}

/* End Nav */

/* Start Hero Section */

.hero-section {
  /* padding-bottom: 2rem; */
  background-image: url("/images/hero\ image.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 736px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-section-content {
  position: relative;
  top: 80px;
}

.more-info-text {
  position: relative;
  top: 150px;
}

.hero-content {
  padding: 6rem 2.5rem 5rem 2.5rem;
}

.hero-heading {
  margin-bottom: 12px;
  letter-spacing: 5px;
}

.order-online {
  background-color: rgb(253, 185, 51);
  padding: 1rem 1.5rem;
  margin-top: 12px;
  margin-bottom: 20rem;
}

.dine-in {
  background-color: rgb(253, 185, 51);
  padding: 1rem 1.5rem;
}

.findout-more-link {
  background-color: black;
  padding: 1rem 1.5rem;
}

.about-us-link {
  background-color: black;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  font-size: 16px;
}

.hero-paragraph {
  margin-bottom: 20px;
}

/* End Hero Section */

/* Start Special momenten */
.special-moment {
  padding: 6rem 4rem 5rem 4rem;
}
/* End Special momenten */

/* Start Findout More Section */

.findout-more-section {
  margin-bottom: 5rem;
}

.pocket-to-pint {
  background-color: orange;
}

/* End Findout More Section */

.beer-day {
  background-image: url(/images/beer\ toss.png);
  /* margin-right: 5px; */
  padding: 0px 2px 0px 0px;
  height: 440px;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.pocket-to-pint {
  background-image: url(/images/beer\ toss\ 2.png);
  padding: 0px 0px 0px 2px;
  height: 440px;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

/* Start Ingredients Section */

.ingredients-section {
  padding: 3rem 0rem 3rem 0rem;
  background-color: rgb(248, 248, 248);
  margin-bottom: 5rem;
}

.ingredients-section-division {
  padding: 0rem 5rem 0rem 5rem;
}

.ingredient-group {
  position: relative;
  top: 20px;
  margin-bottom: 6rem;
}

.spice-icon {
  margin-bottom: 12px;
}

.spice-name {
  margin-bottom: 20px;
}

/* End Ingredients Section */

/* End Where to get it section */

.where-to-get-it {
  margin-bottom: 6rem;
}

.circle-1 {
  border: 2px solid rgb(72, 64, 53);
  background-color: rgb(72, 64, 53);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.circle-2 {
  border: 2px solid rgb(72, 64, 53);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* Start Where to get it section */

.about-us-section {
  background-image: url(/images/about\ bg\ img.png);
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.about-us-main-division {
  padding: 0rem 3rem 0rem 3rem;
}

.about-us-content {
  position: relative;
  top: 100px;
  height: 600px;
  padding: 2rem;
  background-color: rgb(253, 185, 51);
}

/* About us Content */

/* Contact us */

.contact-us {
  padding: 0rem 6rem 0rem 6rem;
  margin-bottom: 6rem;
}

.contact-us .quick-links-section ul li {
  margin: 13px 0px 13px 0px;
}

.contact-us-icon {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 1px solid rgb(72, 64, 53);
}

.icon-text {
  position: relative;
  top: 5px;
}

/* Contact us */

/* Footer */

footer {
  padding: 2rem 6rem 2rem 6rem;
}

/* Footer */

/* Start General Styles */

a {
  list-style: none;
  text-decoration: none;
}

i {
  color: rgb(253, 185, 51);
}

.beer-day-text {
  letter-spacing: 10px;
}

/* End General Styles */
